<!DOCTYPE html>
<html lang="en" ng-app="squirrelHub">
<head>
	<title>SquirrelHub</title>
	{{>head}}
</head>
<body ng-controller="SquirrelHubController">
	<main>
		{{>header}}
		{{{body}}}
	</main>
	{{>footer}}
</body>
</html>
